.App {
  text-align: center;
}

body{
  background-color: #1d1e22;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
}

.website-name {
  color: #c89666;
  font-size: 80px;
  font-family: cursive;

}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-form {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 30px;
  width: 30;
  font-family: miller-display;
}

input[type="submit"]:active {
  background-color: white;
  opacity: 0.5;
}
input[type="submit"]:hover {
  background-color: white;
  color: black;
  opacity: 0.2;
  box-shadow: 5px 5px 10px black;
}

label {
  color: #c89666;
  font-weight: bold;
  font-family: miller-display;
  font-size: 20px;
}


.favorite-button,
.delete-button,
.likes-button,
.back-button {
  cursor: pointer;
  background-color: black;
  color: #c89666;
  border: 1px solid #c89666;
  font-family: miller-display;
  border-radius: 30px;
  width: 25;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 50px;
  align-self: center;
   transition-duration: 0.4s; 
  
}

.submit-button {
  cursor: pointer;
  background-color: black;
  color: #c89666;
  border: 1px solid #c89666;
  font-family: miller-display;
  border-radius: 30px;
  width: 25;
  font-size: 40px;
  padding-left: 50px;
  padding-right: 50px;
  align-self: center;
   transition-duration: 0.4s; 
}

.submit-button:hover,
.favorite-button:hover,
.delete-button:hover,
.likes-button:hover,
.back-button:hover {
  background-color: gray;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav-bar {
  display: flex;
  justify-content: center;
   border-radius: 0; 
}

.nav-button {
  float: left;
  border: 1px solid #1d1e22;
  background-color: #1d1e22;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}


.errot-text {
  align-items: center;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.error-button{
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: miller-display;
  border-radius: 30px;
  width: 30;
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  align-self: center;
   transition-duration: 0.4s;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  background-color: #2d545e;
}
.card:hover {
  transform: scale(1.15);
}

.card .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.card .image img {
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card .details {
  padding: 0.5rem;
}

.card .details strong {
  font-family: serif;
  font-size: 1rem;
}

.searchbar {
  flex: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 20%;
  font-size: 1rem;
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.2rem;
  background-color: white;
}

.searchbar button {
  padding: 0 0.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchbar label {
  color: #c89666;
  font-family: cursive;
  font-size: 34px;
  vertical-align: middle;
}

.detail-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: flex;
  margin: 0 auto;
  background-color: #2d545e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.detail-card img {
  max-width: 250px;
  height: auto;
  margin-bottom: 16px;
}

.detail-card h2 {
  font-size: 35px;
  margin-bottom: 8px;
  font-family: cursive;
}

.detail-card h3,
.detail-card h4 {
  margin-bottom: 4px;
  font-size: 20px;
  font-family: cursive;
}

.detail-card p {
  margin-bottom: 16px;
  font-size: 20px;
  font-family: miller-display;
}

.card-h3 {
  font-size: 25px;
  font-family: cursive;
}

.likes-text {
  font-size: 20px;
  font-family: miller-display;
  color: #c89666;
}

.link {
  font-size: 15px;
  color: white;
  text-decoration: none;
}